{% extends "base.html.twig" %}

{% block css %}
<link rel="stylesheet" href="css\CSS.css">
{% endblock css %}

{% block page_body %}
{# CLASSE TUTTO AL CENTRO #}
<center>
<h1>SHARE <br> YOUR GIF</h1>
</center>

{# CLASSE FORM DI INSERIMENTI #}
<div class="containerform">
  
  <form method='GET' action='index.php?offset=0'>
    {# CLASSE TESTO E BOTTONE FIGO #}
    <div class="group">      
      <input type="text" name="testo" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Text</label>
    </div>
    <input type='submit' class="favorite styled" name='submit'>

      

    
  </form>
</div>
<div class="container">


  <br><br>

    {% for d in data %}
    {# CLASSE BACKGROUND GIF #}
    
  <div style="
      background-image:url('{{d.images.original.url}}');
      " class='gifComponent'>
      <div class="testi">
      <h5 class="author">
          {{ d.title }}
      </h5>    
      
      <h6 class="username">
          uploaded by {% if d.username %} {{ d.username }} {% else %} ????? {% endif %}
      </h6>

      
      <h7 class="date">
          on {{ d.import_datetime }}
      </h7>
  </div>
  <div class='functiones'>
      <a><img src="icon/download.png" class="icon" onclick="Download('{{d.images.original.url}}', '{{d.username}}')"></a>
    <a><img src="icon/copy.png" class="icon" onclick="Copy('{{d.images.original.url}}')"></a>
      <div class="container1">
      <img src="icon/zoom.png" class="icon" onclick="Zoom('{{d.images.original.url}}')">
    </div>
  </div> 



  </div>

    {% endfor %}
  </div>
  <div id="modal01" class="modal" onclick="this.style.display='none'">
<span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<div class="modal-content">
  <img id="img01" style="max-width:100%">
</div>
</div>

<script>
function Zoom(element) {  
// Create anchor element.
var a = document.createElement('a'); 
  
// Set the href property.
a.src = element; 
// Append the anchor element to the body.
document.getElementById("img01").src = a.src;
document.getElementById("modal01").style.display = "block";
}
</script>
  <div>
    <center>
      <form method="POST" action="index.php?offset={{offset}}&testo={{testo}}">
      {% if offset != 0 %}
      <input type="submit" name="indietro" value="←"class="invisible">
      {% endif %}
      {% if data %}
      <input type="submit" name="avanti" value="→" class="invisible">        
      {% endif %}
      </form>
    </center>
    </div>
{% endblock page_body %}